<script type="text/javascript" src="__PUBLIC__/xin_mobile/static/js/rem.js"></script>
<script>

$(function(){

    $('#kefu').click(function(event) {
        $('#ts').toggle();
        $('#x').toggle();
     });

     $('#x').click(function(event) {
        $('#ts').hide();
        $('#x').hide();
     });

})

</script>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/xin_mobile/static/css/foot.css" />
<style>

    .footer{background:url('/Public/mobile/img/zxbg.jpg') no-repeat;background-size:100% 100%;}

.footer>a{    width: 25%;}

    .footer>a:nth-child(1),.footer>a:nth-child(2),.footer>a:nth-child(3),.footer>a:nth-child(4){
        margin-top: 0.1rem;
    }
</style>
<footer class=footer>
<a href="{:U('mobile/index')}"><img src="__PUBLIC__/xin_mobile/static/picture/rbtn_home_hot_normal.png"></a>
<a href="{:U('mobile/TradingHall')}"><img src="__PUBLIC__/xin_mobile/static/picture/rbtn_home_product_checked.png"></a>
<!-- <a id="kefu"><img src="__PUBLIC__/xin_mobile/static/picture/icon_sanbiao_home.png"></a> -->
<!-- <a href="tencent://message/?uin={:getInfo('qq')}&Site=&Menu=yes"><img src="__PUBLIC__/xin_mobile/static/picture/icon_sanbiao_home.png"></a> -->
<!-- <a href="http://wpa.qq.com/msgrd?v=3&uin={:getInfo('qq')}&site=qq&menu=yes"><img src="__PUBLIC__/xin_mobile/static/picture/icon_sanbiao_home.png"></a> -->
<!-- <a href="{:U('user/customer')}"><img src="__PUBLIC__/xin_mobile/static/picture/icon_sanbiao_home.png"></a> -->
<a href="{:U('about/index')}"><img src="__PUBLIC__/xin_mobile/static/picture/rbtn_home_find_normal.png"></a>
<a href="{:U('user/person')}"><img src="__PUBLIC__/xin_mobile/static/picture/rbtn_home_my_normal.png"></a></footer>

